{% if option.type == 'map-selector' %}

    <script type="text/javascript">
        $(document).ready(function() {
            // Automatic selection
            $('#vis-options').on('dw:vis-option:map-selector', function(evt, args) {
                var chart = dw.backend.currentChart;
                var options     = $("select[name=map] option");

                if (chart.get('metadata.visualize.map') === undefined || chart.get('metadata.visualize.map-path') === undefined) {
                    // There is no defined map, we use the first map
                    chart.set('metadata.visualize.map', $(options.get(0)).attr('value'));
                    chart.set('metadata.visualize.map-path', $(options.get(0)).data('path'));
                } else {
                    options.filter("[value="+chart.get('metadata.visualize.map')+"]").prop("selected", true);
                }
                // Bind events
                $("select[name=map]").change(function(e){
                    $('.notification').remove();
                    var map_id = $("select[name=map]").val(),
                        map_path = $("select[name=map] option[value="+map_id+"]").data('path');
                    chart.set('metadata.visualize.map', map_id);
                    chart.set('metadata.visualize.map-path', map_path);
                });
            });
        });
    </script>


    <div class="control-group vis-option-type-select-axis-column">
        <label class="control-label">{{ option.label }}</label>
        <div class="controls" >
            <select name="map">
                {% for map in option.options %}
                    <option value="{{ map.value }}" data-keys="{{ map.keys | json }}" data-path="{{ map.path }}">{{ map.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

{% endif %}