{% if option.type == 'map-selector' %}

    <script type="text/javascript">
        $(document).ready(function() {
            // Automatic selection
            $('#vis-options').off('dw:vis-option:map-selector').on('dw:vis-option:map-selector', function(evt, args) {
                var chart = dw.backend.currentChart,
                    rt = $('#vis-options-'+args.key),
                    $select = $('select.map', rt),
                    $options = $('option', $select);

                if (!chart.get('metadata.visualize.map')) {
                    // There is no defined map, we use the first map
                    chart.set('metadata.visualize.map', '{{ option.options[0].value }}');
                    chart.set('metadata.visualize.map-path', '{{ option.options[0].path }}');
                } else {
                    $('.map option[value='+chart.get('metadata.visualize.map')+']', rt).prop("selected", true);
                }
                // Bind events
                $select.off('change').change(function(e){
                    $('.notification').remove();
                    var map_id = $select.val(),
                        map_path = $('option[value='+map_id+']', $select).data('path');
                    chart.set('metadata.visualize.map', map_id);
                    chart.set('metadata.visualize.map-path', map_path);
                });
            });
        });
    </script>


    <div class="control-group vis-option-type-select-axis-column">
        <label class="control-label">{{ option.label }}</label>
        <div class="controls" >
            <select class="map">
                {% for map in option.options %}
                    <option value="{{ map.value }}" data-keys="{{ map.keys | json }}" data-path="{{ map.path }}">{{ map.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

{% endif %}